*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.box{
    width: 500px;
    height: 500px;
    background: #59b81b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    }
.box-shadow-code{
    background-color: bisque ;
    padding: 25px;
    width: 100%;
    font-size: 20px;
    border-radius: 20px;
}
.setting-container{
 display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 50px;
    align-items: center;


}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;

}
.settings-block{
    display: flex;
    flex-direction: column;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.settings-block input:not(:last-child){
    margin-bottom: 20px;
}
input[type = range] {
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track{
    background-color: #838329;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 8px;



}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 47px 67px 0 #ffffff;
    margin-top: -5px;

}



label{
    color: purple;
    margin-bottom:25px;
    font-size: 20px;

}

